<html>
    <head>
        <style>
            .table{
                border: 1px solid black;
                margin-left: 200px;
            }

        </style>
    </head>
    <body>
        <div>
        <h1>Customer Table</h1>
        <form action="/customer" method="POST">
        <table  classname="table" >
            <tr>
              <th >Customer-Id</th>
              <th>Customer-name</th>
              <th>Email</th>
              
            </tr>
           
            
          </table>
        </form>
    </div>
    </body>
</html>