<html>
    <head>
        <style>
            .table{
                border: 1px solid black;
            }

        </style>
    </head>
    <body>
        <div>
        <h1>Order Table</h1>
        <form action="/order" method="POST">
        <table  className="table" >
            <tr>
              <th>customer-Id</th>
              <th>Inventory-Id</th>
              <th>Item-name</th>
              <th>Quantity</th>
            </tr>
           
            
          </table>
        </form>
    </div>
    </body>
</html>